.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #293785;
  font-family: 'Arial', sans-serif;
  color: #ffd700;
  background-image: linear-gradient(to right, #ffc02d, #a76868, #73ff00, #001aff);
  background-size: 400% 400%;
}
.card {
  position: relative;
  width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: 0.5;
  pointer-events: none;
}
.card::before {
  background-image: linear-gradient(45deg, #ffc107 0%, #ffeb3b 25%, #ffee58 50%, #ffe082 75%, #ffca28 100%);
  animation: gradientAnimation 5s linear infinite;
}
.card::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.card__title {
  font-size: 4em;
  margin-bottom: 20px;
  animation: pulse 2s infinite alternate;
}
.card__subtitle {
  font-size: 2em;
  margin-bottom: 10px;
}
.card__message {
  font-size: 1.5em;
  line-height: 1.4;
}
.card-theme-animated {
  animation: background-pulse 15s ease-in-out infinite;
}
@keyframes gradientAnimation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes background-pulse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.call {
  position: fixed;
  bottom: 10px;
  /* отступ снизу */
  left: 10px;
  /* отступ слева */
  font-size: 14px;
  color: #000000;
}
