body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.container {
  perspective: 1000px;
}

.card {
  width: 800px;
  height: 500px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front {
      background: linear-gradient(45deg, rgb(255, 0, 0), rgb(224, 217, 205), rgb(23, 220, 16), rgb(7, 121, 153), rgb(0, 187, 255), rgb(255, 3, 3), rgb(147, 229, 81));
  background-size: 500% 500%;
  background-color: #4c9eaf;
  animation: gradient 10s ease-in-out infinite;
  color: white;
}

.back {
  background: linear-gradient(45deg, rgb(184, 76, 76), rgb(79, 71, 58), rgb(69, 69, 32), rgb(67, 27, 123), rgb(0, 187, 255), rgb(255, 3, 3), rgb(121, 34, 121));
  background-size: 500% 500%;
  animation: gradient 10s ease-in-out infinite;
  color: white;
  transform: rotateY(180deg);
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 50px;
}

p {
  padding: 0 20px;
  text-align: center;
  font-size: 1.2em;
}

.content-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {
    background-position: 100% 50%;
  }
    100% {
    background-position: 0% 50%;
  }
}
.gradient-bg {
position: absolute;
background: linear-gradient(45deg, red, orange, yellow, rgb(0, 255, 0), rgb(0, 187, 255), blue, purple );
background-size: 500% 500%;
animation: gradient 15s ease-in-out infinite;

z-index: -1;
inset: 0;
}
.dots-container span {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый круг */
    border-radius: 50%;
    opacity: 0.7;
    animation-name: move-dot;
    animation-timing-function: cubic-bezier(.1,.8,.3,1);
    animation-duration: 20s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.dots-container span:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.dots-container span:nth-child(2) {
    top: 50%;
    left: 70%;
    animation-delay: 2s;
}

.dots-container span:nth-child(3) {
    top: 80%;
    left: 30%;
    animation-delay: 4s;
}

.dots-container span:nth-child(4) {
    top: 30%;
    left: 50%;
    animation-delay: 6s;
}

@keyframes move-dot {
    0%, 100% {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(calc((var(--random-offset)) * 1vw + var(--random-start))) translateY(calc(var(--random-offset) * 1vh));
    }
}